:root {
    --accent: #5865F2;
    --warning: #FEE75C;
    --success: #57F287;
    --error: #ED4245;
    --black: #111111;
    --gray: #23272A;
    --light-gray: #76767c;
    --dark-gray: #2C2F33;
    --white: #FFFFFF;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.bold {
    font-weight: bold;
}