.sections, .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--elements-background);
    margin: 15px;
    padding: 15px;
    border-radius: 16px;
    height: fit-content;
}

.sections button, .socials button, .sections a {
    width: 100%;
    text-align: left;
}

.socials button {
    width: 400px;
}

.sections a {
    width: 86%;
}

.section {
    width: 400px;
}

.avatar {
    width: 300px;
    border-radius: 9px;
}

.profile {
    background: var(--elements-background);
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 9px;
    flex-direction: column;
    width: 280px;
}

.profile:hover {
    background-color: var(--elements-background2);
}

.profile img {
    width: 200px;
    height: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 9999px;
    object-fit: cover;
}

.profile .profileInfo {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 280px;
    align-items: center;
}

.profile .profileInfo * {
    margin: 0;
}
