.headerButton {
    text-decoration: none;
    color: var(--text-color);
    margin: 5px;
    font-weight: bold;
}

.headerButton:hover {
    color: var(--active-accent);
    transition: color 0.2s ease-in-out;
}

@media (max-width: 530px) {
    .headerButtonTitle {
        display: none;
    }
}