.linkButton {
    text-decoration: none;
    color: var(--text-color);
    margin: 5px;
    font-weight: bold;
    background-color: var(--accent);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.linkButton:hover {
    color: var(--active-accent);
    transition: color 0.2s ease-in-out;
}